<br/>

<div class="toolbarTable">
  <mat-form-field>
    <input  matInput (keyup)="applyFilter($event.target.value)" placeholder="Rechercher">
  </mat-form-field>
  <button mat-flat-button color="primary" (click)="openProjectSideNav('creation')"> Ajouter un arbitre </button>
</div>

<mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" >

  <!-- Name Column -->
  <ng-container matColumnDef="nom">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Nom de l'arbitre
    </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.nom}} </mat-cell>
  </ng-container>


  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="handleBtnKeyUp(row.id)"
           [tabIndex]="0">
  </mat-row>
</mat-table>

<mat-paginator [pageSize]="20" showFirstLastButtons></mat-paginator>
