
 <ul class="nav justify-content-end">
      <li class="nav-item align-middle">
        <a class="nav-link active" routerLinkActive="active" routerLink="/" >Home</a>
      </li>
      <li *ngIf="user == null " class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/login">Login</a>
      </li>
      <li *ngIf="user != null && user.roles.name == arbitre" class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['arbitre', user.idUtilisateur]">Arbitrage</a>
      </li>
     <li *ngIf="user != null && user.roles.name == admin" class="nav-item">
       <a class="nav-link" routerLinkActive="active" routerLink="/admin">Admin</a>
     </li>
     <li *ngIf="user != null " class="nav-item">
       <a class="nav-link" routerLinkActive="active" routerLink= "#" (click)="logout()" >Déconnexion</a>
     </li>
 </ul>
