      <h1>Mes matches assignés  </h1>
      <div *ngFor="let match of matchesList;"  class="container">
        <div class="row"><p> {{ match.dateDebut.locale('fr').format('LLLL')}}  -  {{ match.dateDebut.fromNow()}}  </p></div>
        <div class="row">
          <div class="col-sm">
            <h6>{{ match.premiereEquipe.nom}}</h6>
          </div>
          <div class="col-sm">
            <img src="assets/img/{{ match.premiereEquipe.nom}}.jpeg" alt="image/jpeg">
          </div>

          <div class="col-sm" id="nombre1">
            {{ match.scorePremiereEquipe}} -   {{ match.scoreDeuxiemeEquipe}}
          </div>
          <div class="col-sm">
            <img src="assets/img/{{ match.deuxiemeEquipe.nom}}.jpeg" alt="image/jpeg">
          </div>
          <div class="col-sm">
            <h6>{{ match.deuxiemeEquipe.nom}}</h6>
          </div>
        </div>
        <hr>
        <ngbd-modal-focus [placeholder]="'Saisir le score'" [content]="match">        </ngbd-modal-focus>
      </div>


