
<app-sidebar (activeTitle)="onActive($event)"></app-sidebar>
<app-tournoi-admin *ngIf="this.active == 'tournois'"></app-tournoi-admin>
<app-match-admin *ngIf="this.active == 'matchs'"></app-match-admin>
<app-equipe-admin *ngIf="this.active == 'equipe'"></app-equipe-admin>
<app-arbitre-admin *ngIf="this.active == 'arbitres'"></app-arbitre-admin>
<app-joueur-admin *ngIf="this.active == 'joueur'"></app-joueur-admin>
<app-terrain-admin *ngIf="this.active == 'terrain'"></app-terrain-admin>
<app-pays-admin *ngIf="this.active == 'pays'"></app-pays-admin>
