img{
  width: 30px;
}
p{
  background-color:#4A90E2;
  width: 100%;
  font-size: 15px;
  color: white;
}
#blason{
  padding-top: 2%;
  width: 20%;
}


.container {
  flex-direction: row ;
  justify-content: space-between;


  display: flex; /* or inline-flex */
}

li {
  list-style-type:none
}

.nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
}
