<br/>

<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Rechercher">
</mat-form-field>

<mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" >
  <!-- ID Column -->
  <ng-container matColumnDef="idPays">
    <mat-header-cell *matHeaderCellDef mat-sort-header> id
    </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.idPays}} </mat-cell>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="nom">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Nom du pays
    </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.nom}} </mat-cell>
  </ng-container>


  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="handleBtnKeyUp(row.id)"
           [tabIndex]="0">
  </mat-row>
</mat-table>

<mat-paginator [pageSize]="20" showFirstLastButtons></mat-paginator>
