/* Structure */

:host mat-header-cell {
  font-size: 16px;
}

:host mat-cell {
  font-weight: 500;
}

mat-table, mat-paginator {
  width: 80%;
  margin: auto;
}

.mat-column-select {
  overflow: initial;
}

mat-row {
  border-width: 0;
  border-bottom-width: 0px;
}



