<img id="blason" src="https://vignette.wikia.nocookie.net/harrypotter/images/f/fd/QWC.png/revision/latest?cb=20161023220629" alt="">
      <h1>Coupe du monde de quiditch  </h1>


<div  *ngFor="let match of MatchsListEnCours;"  class="container">
  <div class="row"><p> {{ match.dateDebut.locale('fr').format('LLLL')}}  -  {{ match.dateDebut.fromNow()}}
    au {{ match.terrain.nom }} </p></div>
  <div class="row">
     <div class="col-sm">
        <h6>{{ match.premiereEquipe.nom}}</h6>
       </div>
       <div class="col-sm">
         <img src="assets/img/Gryffondor.jpeg" alt="image/jpeg">
         </div>
    
     <div class="col-sm" id="nombre1">
       {{ match.scorePremiereEquipe}} -   {{ match.scoreDeuxiemeEquipe}}
    </div>
    <div class="col-sm">
      <img src="assets/img/Serpentard.jpeg" alt="image/jpeg">
        </div>
    <div class="col-sm">
       <h6>{{ match.deuxiemeEquipe.nom}}</h6>
        </div>
    </div>
</div>

<h1> Matchs à venir</h1>

<div *ngFor="let match of MatchsListAVenir;"  class="container">
  <div class="row"><p> {{ match.dateDebut.locale('fr').format('LLLL')}}  -  {{ match.dateDebut.fromNow()}}
    au {{ match.terrain.nom }}  </p></div>
  <div class="row">
    <div class="col-sm">
      <h6>{{ match.premiereEquipe.nom}}</h6>
    </div>
    <div class="col-sm">
      <img src="assets/img/{{ match.premiereEquipe.nom}}.jpeg" alt="image/jpeg">
    </div>

    <div class="col-sm" id="nombre1">
      {{ match.scorePremiereEquipe}} -   {{ match.scoreDeuxiemeEquipe}}
    </div>
    <div class="col-sm">
      <img src="assets/img/Serpentard.jpeg" alt="image/jpeg">
    </div>
    <div class="col-sm">
      <h6>{{ match.deuxiemeEquipe.nom}}</h6>
    </div>
  </div>
</div>


<h1>Matchs finis </h1>

<div *ngFor="let match of MatchsListFinis;"  class="container">
  <div class="row"><p> Du {{ match.dateDebut.locale('fr').format('LLLL')}}  au {{ match.dateFin.locale('fr').format('LLLL')}}   </p></div>
  <div class="row">
    <div class="col-sm">
      <h6>{{ match.premiereEquipe.nom}}</h6>
    </div>
    <div class="col-sm">
      <img src="assets/img/Gryffondor.jpeg" alt="image/jpeg">
    </div>

    <div class="col-sm" id="nombre1">
      {{ match.scorePremiereEquipe}} -   {{ match.scoreDeuxiemeEquipe}}
    </div>
    <div class="col-sm">
      <img src="assets/img/Serpentard.jpeg" alt="image/jpeg">
    </div>
    <div class="col-sm">
      <h6>{{ match.deuxiemeEquipe.nom}}</h6>
    </div>
  </div>
</div>
